config SHIELD_SCOTTOFROG
    def_bool $(shields_list_contains, scottofrog)
    
config LVGL_DISPLAY_WIDTH
    int "LVGL Display Width"
    default 128

config LVGL_DISPLAY_HEIGHT
    int "LVGL Display Height"
    default 64